.chart-nav {
  width: 100%;
  display: flex;
  justify-content: center;

  .nav-item {
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
  }

  .square {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 4px;

    @include media-breakpoint-down(sm){
      width: 10px;
      height: 10px;
      margin-right: 3px;
    }
  }

  .title {
    font-size: 11px;

    @include media-breakpoint-down(sm){
      font-size: 9px;
    }
  }
}
