#wrapper-navbar {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  height: 100px;
  display: flex;

  .container {
    position: relative;
    height: 100%;
  }

  .navbar-brand {
    position: absolute;
    right: 2%;
    bottom: auto;
    top: 76%;
    opacity: 0;
    transform: translateX(0);

    img {
      width: 120px;
      height: auto;
      @include media-breakpoint-down(sm){
        width: 80px;
      }
    }
  }
}
