
/* Animations for section 1 before
------------------------------------------------------------*/
.on-viewport {
  .s1-0 {
    opacity: 0;
    transform: scale(0);
    transition: all 1.6s ease;
  }

  .section-subtitle {
    &::before,
    &::after {
      opacity: 0;
      transition: all 1.6s ease;
    }
  }

  .s1-1 {
    opacity: 0;
    transform: translateY(80px);
    transition: all 1.6s ease;
  }

  .s1-2 {
    opacity: 0;
    transition: all 1.6s ease;
  }

  .s1-3 {
    opacity: 0;
    transition: all 1.6s ease;
  }

  //Second
  .icon-rotate {
    opacity: 0;
    transform: rotate(-180deg);
    transition: all 1.6s ease;
  }

  .op-0,
  .op-1,
  .op-2,
  .op-3,
  .op-4,
  .op-5,
  .op-6,
  .op-7,
  .op-8,
  .op-9 {
    transform: translateY(15%);
    opacity: 0;
    transition: all 1.6s ease;
  }
}


/* Animations active class - element-visible
------------------------------------------------------------*/
.on-viewport {
  &.element-visible {

    .s1-0 {
      opacity: $number_opacity;
      transform: scale(1);
      transition-delay: 0.8s;
    }

    .s1-1 {
      opacity: 1;
      transform: translateY(0);
      transition-delay: .5s;
    }

    .section-subtitle {
      &::before,
      &::after {
        opacity: 1;
        transition-delay: 1s;
      }
    }

    .s1-2 {
      opacity: 1;
      transition-delay: .8s;
    }

    .s1-3 {
      opacity: 1;
      transition-delay: 1s;
    }

    //Second
    .icon-rotate {
      opacity: 1;
      transform: rotate(0deg);
      transition-delay: .5s;
    }

    .op-0 {
      opacity: 1;
      transform: translateY(0);
      transition-delay: .2s;
    }

    .op-1 {
      opacity: 1;
      transform: translateY(0);
      transition-delay: .4s;
    }

    .op-2 {
      opacity: 1;
      transform: translateY(0);
      transition-delay: .6s;
    }

    .op-3 {
      opacity: 1;
      transform: translateY(0);
      transition-delay: .8s;
    }

    .op-4 {
      opacity: 1;
      transform: translateY(0);
      transition-delay: 1s;
    }

    .op-5 {
      opacity: 1;
      transform: translateY(0);
      transition-delay: 1.2s;
    }

    .op-6 {
      opacity: 1;
      transform: translateY(0);
      transition-delay: 1.4s;
    }

    .op-7 {
      opacity: 1;
      transform: translateY(0);
      transition-delay: 1.6s;
    }

    .op-8 {
      opacity: 1;
      transform: translateY(0);
      transition-delay: 1.8s;
    }

    .op-9 {
      opacity: 1;
      transform: translateY(0);
      transition-delay: 2s;
    }
  }
}
