
/* Skroll section
------------------------------------------------------------*/
.scroll-section,
.skrollr-container,
.ovf-hidden {
  overflow: hidden;
}

/* Global Classes
------------------------------------------------------------*/
.white { color: #FFF; }
.blue { color: $primary; }
.green { color: $primary_green; }
.blue-light { color: $primary_blue_light; }
.blue-secondary { color: $secondary_blue; }
.red { color: $primary_red; }
.bg-blue { background-color: rgba($primary_blue,.5); }
.black { color: #000; }

.tc { text-align: center; }
.bold { font-weight: 600; }
.bolder { font-weight: 700; }

.mb1 { margin-bottom: 1rem; }
.mb2 { margin-bottom: 2rem; }
.pt1 { padding-top: 1rem; }
.pt2 { padding-top: 2rem; }
.pt3 { padding-top: 3rem; }
.pb1 { padding-bottom: 1rem; }
.pb2 { padding-bottom: 2rem; }

.mb3 {
  margin-bottom: 3rem;

  @include media-breakpoint-down(sm){
    margin-bottom: 2rem;
  }
}

.mb4 {
  margin-bottom: 4rem;

  @include media-breakpoint-down(sm){
    margin-bottom: 2rem;
  }
}

.pb3 {
  padding-bottom: 3rem;

  @include media-breakpoint-down(sm){
    padding-bottom: 2rem;
  }
}

.pb4 {
  padding-bottom: 4rem;
  @include media-breakpoint-down(sm){
    padding-bottom: 2.2rem;
  }
}

.pt4 {
  padding-top: 4rem;
  @include media-breakpoint-down(sm){
    padding-top: 2.2rem;
  }
}

.title-2 {
  font-size: $size_h1;

  @include media-breakpoint-down(sm){
    font-size: 42px;
  }
}

.title-3 {
  font-size: $size_h2;

  @include media-breakpoint-down(md){
    font-size: 26px;
  }

  @include media-breakpoint-down(sm){
    font-size: 22px;
  }
}

.title-4 {
  font-size: $size_h3;
}

.desc {
  font-size: $size_p;
  font-weight: 600;

  @include media-breakpoint-down(sm){
    font-size: 13px;
  }

  ul {
    padding-left: 1.1rem;
  }
}

.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 50% 50%;
}

.mouse-inner {
  perspective: 25px;
  width: 100%;
}

//bln,mln and etc.
h3,
h4,
h5,
.title-3  {
  i {
    font-size: 22px;
    font-style: normal;

    @include media-breakpoint-down(md){
      font-size: 20px;
    }

    @include media-breakpoint-down(sm){
      font-size: 18px;
    }
  }
}

.cover {
  @include cover();
}


.pie {
  .doughnutSummaryTitle,
  .doughnutSummary,
  p {
    display: none;
  }

  svg {
    > path{
      fill: rgba(0,0,0,0) !important;
    }

    g {
      path {
        stroke-width: 0 !important;
      }
    }
  }
}


/* Section number
------------------------------------------------------------*/
.section-num {
  @include section_counter(22%);
}


/* Section Wrapper
------------------------------------------------------------*/
.page-section {
  position: relative;
}

.section-title {
  @include section_title(4rem);
}

.section-subtitle {
  margin-bottom: 4rem;
  @include subtitle(38%);

  @include media-breakpoint-down(sm){
    margin-bottom: 3rem;
  }
}

.section-parallax {
  transition: all 20ms ease-out;
}


/* Global Inner section 1 - content, title, subtitle
------------------------------------------------------------*/
.inner-section-1 {
  @include cover();
  position: relative;

  .header-wrap {
    text-align: center;
    position: relative;
    z-index: 4;
    padding: 4rem 0;

    @include media-breakpoint-down(sm){
      padding: 2.2rem 0;
    }

    hgroup {
      position: relative;
    }
  }
}


/* Global Inner section 1 - content, title, subtitle
------------------------------------------------------------*/
.read-more {
  position: relative;
  padding: 20px 10px 0 10px;
  display: inline-block;
  transition: all 500ms ease;
  color: $secondary_blue;
  width: 70px;
  margin-left: auto;
  margin-right: auto;

  &::before {
    content: "";
    background-size: 35px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: 50% 5px;
    background-image: url('#{$path-images}/arrow-more.svg');
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 30px;
    position: absolute;
    top: -3px;
    bottom: auto;
    left: 0;
    transition: all 500ms ease;
  }

  &:hover {
    background-position: 50% 2px;
    opacity: .9;
    text-decoration: none;
    color: $secondary_blue;

    &::before {
      top: -1px;
    }
  }

  &.active {
    &::before {
      transform: rotate(-180deg);
    }
  }
}
