
/* Inner 1
------------------------------------------------------------*/
.sustainable-content-wrap {
  .inner-section-1 {
    .section-subtitle {
      &::before,
      &::after {
        width: 32%;

        @include media-breakpoint-down(lg){
          width: 28%;
        }

        @include media-breakpoint-down(sm){
          width: 18%;
        }
      }
    }
  }
}


/* Inner 2
------------------------------------------------------------*/
.sustainable-content-wrap {
  .margin-true-prev {
    padding-bottom: 80px;
  }

  .margin-true {
    padding: 0;

    .section-subtitle,
    .text-2 {
      position: relative;
      top: -55px;
      padding-top: 0;
    }
  }

  .inner-section-2 {
    .section-subtitle {
      margin-bottom: 1rem;

      &.border-no {
        &::before,
        &::after {
          display: none;
        }
      }
    }

    .secondary-desc {
      font-size: $size_sm;
    }
  }
}

/* Inner 3
------------------------------------------------------------*/
.sustainable-content-wrap {
  .inner-section-3 {
    svg {
      animation: wasteUpDown 0.5s linear 0.4s infinite alternate both;
    }
  }
}



@keyframes wasteUpDown {
  from {
    transform: translate(0,8px);
  }

  to {
    transform: translate(0,-4px);
  }
}


/* Inner 4
------------------------------------------------------------*/
.sustainable-content-wrap {
  .waste-data-repeater {
    justify-content: center;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -8px;
      left: 0;
      right: 0;
      z-index: 0;
      width: 100%;
      height: 40px;
      background-size: 450px auto;
      background-repeat: no-repeat;
      background-color: transparent;
      background-position: 50% 50%;
      background-image: url('#{$path-images}/bottom-line.jpg');

      @include media-breakpoint-down(sm){
        background-size: 320px auto;
      }
    }
  }
}

/* Inner 5
------------------------------------------------------------*/
.sustainable-content-wrap {
  .inner-section-5 {
    .social-data-repeater {
      .icon {
        margin-bottom: 5px;
      }
      .title-3,
      .title-2 {
        i {
          font-size: 14px;
        }
      }
    }
  }
}

/* Inner 7
------------------------------------------------------------*/
.sustainable-content-wrap {
  .inner-section-7,
  .inner-section-6 {
    .wrap-desc {
      padding-right: 3rem;
    }

    h3 {
      i {
        font-size: 14px;
      }
    }
  }

  .inner-section-7 {
    @include media-breakpoint-down(sm){
      .col-item {
        text-align: center;
      }
    }
  }
}
