
/* Inner 1
------------------------------------------------------------*/
.capital-content-wrap {
  .inner-section-1 {
    .section-subtitle {
      &::before,
      &::after {
        width: 38%;

        @include media-breakpoint-down(sm){
          width: 32%;
        }
      }
    }
  }
}


/* Inner 2
------------------------------------------------------------*/
.capital-content-wrap {
  .inner-section-2 {
    .pies-repeater-wrap {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .item {
        position: relative;
        width: 25%;
        @include media-breakpoint-down(md){
          width: 50%;
        }
      }
    }

    .pie {
      overflow: hidden;
      display: block;
      width: 182px;
    	height: 182px;
      margin: 0 auto;
      background-color: transparent;
      background-size: 90px auto;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      transition: background 600ms ease;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
}

//Left item - Active pie
.capital-content-wrap {
  .inner-section-2 {
    .pies-repeater-wrap {

      .item-left,
      .item-left-border {
        .subtitle {
          text-align: left;
          margin: 0;
        }
      }

      .item-left-border {
        padding: 2rem 0 2rem 2rem;
        position: relative;

        &::before {
          content: "";
          height: 90%;
          min-height: 90%;
          width: 1px;
          position: absolute;
          left: .8rem;
          top: 0;
          transition: all 1.6s ease;
          background-color: #979797;
        }
      }

      .active-pie-true {
        .wrap-desc {
          position: absolute;
          width: 110px;
          text-align: center;
          bottom: 30%;
          margin-left: -55px;
          left: 50%;
          font-size: 12px;
        }
      }
    }
  }
}

.capital-content-wrap {
  .inner-section-2 {
    &.on-viewport {
      .item-left-border {
        &::before {
          opacity: 0;
        }
      }
      .pie {
        background-position: 50% -120px;
      }

      &.element-visible {
        .item-left-border {
          &::before {
            transition-delay: .2s;
            opacity: 1;
          }
        }

        .pie {
          transition-delay: 2s;
          background-position: 50% 50%;
        }
      }
    }
  }
}

/* Inner 4 and whatever
------------------------------------------------------------*/
.inner-section-4  {
  .financial-wrap {
    display: flex;

    @include media-breakpoint-down(sm){
      flex-wrap: wrap;
    }

    .item-1 {
      margin-right: 3rem;
    }

    .item-1,
    .item-2 {
      @include media-breakpoint-down(sm){
        width: 100%;
      }
    }
  }
}

.on-viewport {
  .financial-wrap {
    svg {
      path,
      polygon {
        transition: all 1.8s ease;
        opacity: 0;
      }

      #Fill-13,
      #Fill-12,
      #Fill-11 {
        opacity: 0;
        transform: translateY(10%);
      }
    }
  }
}

.element-visible {
  .financial-wrap {
    svg {
      path,
      polygon {
        opacity: 1;
      }

      #Fill-13,
      #Fill-12,
      #Fill-11 {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}


.clock-repeater-wrap {
  .item {
    display: flex;
    align-items: center;

    .title-clock {
      @include media-breakpoint-down(sm){
        font-size: 18px;
      }
    }

    svg {
      width: 150px;
      height: auto;
    }

    .item-1 {
      margin-right: 2rem;
    }
  }
}


.inner-section-3 {
  &.on-viewport {
    .clock {
      transition: all 1.6s ease;
      transform: rotate(-40deg);
    }
    &.element-visible {
      .clock {
        transition-delay: .3s;
        transform: rotate(0);
      }
    }
  }
}
