//Timer
@include timer('.fullpie-wrapper', 3, 130px, $primary_blue_light, 'none', pause);

/* Timer
------------------------------------------------------------*/
.investment-content-wrap {
  .inner-section-1 {
    .fullpie-wrapper {
      position: relative;
      margin: 0 auto;
      background: #FFF;
      width: 130px;
      height: 130px;
      border: 8px solid #9b9b9b;
      border-radius: 50%;
      overflow: hidden;

      .title-3 {
        position: absolute;
        top: 32%;
        z-index: 999;
        width: 114px;
        display: inline-block;
        text-align: center;
        color: #FFF;
        opacity: 0;
        transition: all 800ms ease;
      }

      .piespinner,
      .piefiller,
      .piemask {
        animation-play-state: pause !important;
        animation-iteration-count: 1 !important;
        animation-fill-mode: both !important;
      }
    }
  }
}

/* Timer
------------------------------------------------------------*/
.investment-content-wrap {
  .inner-section-1 {
    &.on-viewport {
      .title-3 {
        transition-delay: 2s;
      }

      &.element-visible {
        .fullpie-wrapper {
          .title-3 {
            opacity: 1;
          }

          .piespinner {
            animation: rota 2.2s linear infinite .5s;
          }

          .piefiller {
            animation: opa 2.2s steps(1,end) infinite reverse .5s;
          }

          .piemask {
            animation: opa 2.2s steps(1,end) infinite .5s;
          }

          .piespinner,
          .piefiller,
          .piemask {
            animation-iteration-count: 1 !important;
            animation-fill-mode: both !important;
          }
        }
      }
    }
  }
}


/* Inner 1
------------------------------------------------------------*/
.investment-content-wrap {
  .inner-section-1 {
    .investment-pie {

      .item {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;

        @include media-breakpoint-down(sm){
          flex-wrap: wrap;
        }

        h5 {
          display: inline-block;
        }

        .col-wrap {
          padding: 0 1rem;

          @include media-breakpoint-down(sm){
            width: 100%;
            text-align: center;
            justify-content: center;
          }

          &.col-first {
            width: 20%;
            @include media-breakpoint-down(sm){
              width: 100%;
            }
          }

          &.col-second {
            margin-bottom: 1rem;

            img,
            svg {
              width: 130px;
              height: auto;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}



.draw-pie {
  width: 120px;
  height: 120px;
  display: block;
  border-radius: 50%;
  background-color: #FFF;
  border: 6px solid #666;
  margin: 1em;
  transition: all 4s ease;
  background-image:
        linear-gradient(360deg, white 0%, $primary_blue_light 50%);
}



.on-viewport {
  .investment-pie {
    svg {
      #Group-31 {
        path:nth-of-type(1) {
          //fill: none;
          //stroke-dasharray: 1000;
          //stroke-dashoffset: 2000;
          //transition: all 4s ease;
        }
      }
    }
  }

  &.element-visible {

    svg {
      #Group-31 {
        path:nth-of-type(1) {
          //fill: $primary_blue_light;
          //animation: pie1 5s linear 1s infinite reverse both;
        }
      }
    }
  }
}


@keyframes pie1 {
  from {
    stroke-dashoffset: 822;
  }

  to {
    stroke-dashoffset: 2000;
  }
}



/* Chart wrap
------------------------------------------------------------*/
.inverstment-chart-wrap {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 4rem;
  position: relative;

  .chart-item {
    margin-bottom: 4rem;
    padding-left: 2rem;
    width: 50%;

    @include media-breakpoint-down(sm){
      width: 100%;
      padding-left: 1rem;
      margin-bottom: 2rem;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &.col-fullwidth {
      h5 {
        transform: translateX(14%);
        text-align: center;
      }

      ul {
        overflow: visible !important;
        li {
          overflow: hidden;

          &:nth-of-type(1) {
            justify-content: flex-end;
            transform: translateX(-50%);

            .bar {
              transform: translateX(80%);
            }
          }

          &:nth-of-type(2) {
            justify-content: flex-start;
            transform: translateX(50%);

            .bar {
              transform: translateX(-50%);
            }
          }
        }
      }
    }
  }

  .chart-item {
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      width: 100%;
      overflow: hidden;

      li {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin: 0 0 .5rem;
      }
    }

    h5 {
      font-size: $size_p;
    }

    .val {
      width: 40px;
      font-size: 18px;
      font-weight: 600;
      margin: 0 8px;

      &.left {
        text-align: right;
      }

      &.right {
        text-align: left;
      }
    }

    .bar {
      height: 25px;
    }
  }
}


/* Animation
------------------------------------------------------------*/
.on-viewport {
  &.inverstment-chart-wrap {
    ul {
      li {
        transition: all 3s ease;
        transform: translateX(-50%);
      }
    }

    &.element-visible {
      ul {
        li {
          transition-delay: .6s;
          transform: translateX(0);
        }
      }

      .col-fullwidth {
        ul {
          li {
            .bar {
              transition: all 3.4s ease .4s;
              transform: translateX(0);
            }
          }
        }
      }
    }
  }
}



/* Chart Nav
------------------------------------------------------------*/
.investment-content-wrap {
  .chart-nav {
    position: absolute;
    left: -60px;
    top: 20%;
    width: auto;
    transform: rotate(-90deg);

    .title {
      font-size: $size_p;
      font-weight: 600;
      margin: 0 4px;

      @include media-breakpoint-down(sm){
        font-size: 12px;
      }
    }
  }
}

/* Table wrap
------------------------------------------------------------*/
.inverstment-table-wrap {
  img {
    margin-bottom: 5px;
  }

  .data-table {
    @include datatable(#dcdcdc, #000, $primary_blue_light);

    p {
      font-size: $size_p;

      @include media-breakpoint-down(sm){
        font-size: 13px;
      }
    }

    table {
      margin-bottom: 1rem;

      th {
        font-weight: 600;
        font-size: $size_p;
        @include media-breakpoint-down(sm){
          font-size: 11px;
        }
      }

      tr {
        color: #000 !important;
      }
    }
  }
}


/* Chart wrap
------------------------------------------------------------*/
.investment-mall-chart {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  padding: 0 4rem;
  position: relative;

  .chart-item {
    margin-bottom: 3rem;
    padding-left: 2rem;
    width: 25%;

    @include media-breakpoint-down(sm){
      width: 50%;
      padding-left: 1rem;
      margin-bottom: 2rem;
    }
  }

  .chart-item {
    ul {
      padding: 0;
      list-style-type: none;
      width: 100%;
      overflow: hidden;
      height: 165px;
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-end;
      justify-content: center;
      margin: 0 0 1rem;

      li {
        margin: 0 8px;
        width: 32px;
      }
    }

    .counter {
      font-size: $size_h3;
    }

    .top-title {
      font-size: $size_p;
      margin: 0;
    }

    .bottom-title {
      font-size: $size_p;
      margin: 0;
    }

    .val {
      width: 40px;
      font-size: 18px;
      font-weight: 600;
      margin: 0 6px;
    }

    .bar {
      position: relative;
      width: 35px;
    }

    .val-2 {
      width: 60px;
      font-size: 14px;
      font-weight: 600;
      margin: 0;
      position: absolute;
      bottom: 40%;
      left: -12px;
      z-index: 5;
      transform: rotate(-90deg);
      color: #FFF;
    }
  }
}


/* Animation mall chart
------------------------------------------------------------*/
.on-viewport {
  &.investment-mall-chart {
    ul {
      li {
        transition: all 3.4s ease;
        transform: translateY(90%);
      }
    }

    &.element-visible {
      ul {
        li {
          transition-delay: .6s;
          transform: translateY(0);
        }
      }
    }
  }
}



/* FX Parallax
------------------------------------------------------------*/
.investment-content-wrap {
  .inner-section-4 {
    display: flex;
    width: 100%;
    padding-bottom: 100px;
    overflow: hidden;

    @include media-breakpoint-down(sm){
      padding-bottom: 60px;
    }

    .parallax-image {
      position: relative;
      bottom: auto;
      left: auto;
      right: auto;
      height: 99vh;
      width: 75%;
      display: flex;
      align-items: flex-end;
      @include cover();
      transition: all 360ms ease;
      background-position: 50% 0;

      @include media-breakpoint-down(sm){
        width: 100%;
        height: auto;
        padding-top: 300px;
        background-size: auto 500px;
      }
    }

    .title {
      font-size: $size_header;
      margin-bottom: 1rem;
      color: #000;

      @include media-breakpoint-down(sm){
        font-size: 32px;
      }
    }

    .parallax-description {
      transition: all 360ms ease;
      position: relative;
      background-color: #FFF;
      padding: 2rem 3rem 1rem 2rem;
      width: 78%;
      bottom: 0;
      top: auto;
      overflow: auto;
      max-height: 100%;

      @include media-breakpoint-down(sm){
        width: 100%;
        padding: 1.5rem 15px 1rem 15px;
      }
    }
  }
}


/* Parallax Image and content Position
------------------------------------------------------------*/
.investment-content-wrap {
  .inner-section-4 {
    &.pos-left {
      justify-content: flex-start;

      .parallax-image {
        justify-content: flex-end;
      }

      .parallax-description {
        transform: translateX(40%);

        @include media-breakpoint-down(sm){
          transform: translateX(0);
        }
      }
    }

    &.pos-right {
      justify-content: flex-end;

      .parallax-image {
        justify-content: flex-start;
      }
      .parallax-description {
        transform: translateX(-40%);

        @include media-breakpoint-down(sm){
          transform: translateX(0);
        }
      }
    }
  }
}

.inner-section-4 {
  &.on-viewport {
    opacity: 0;
    transition: all 1.6s ease;
    transform: translateY(20%);

    &.element-visible {
      opacity: 1;
      transform: translateY(0);
    }
  }
}




/* FX Icons
------------------------------------------------------------*/
.investment-content-wrap {
  .inner-section-5 {
    position: relative;
    z-index: 5;
    margin-bottom: 60px;

    @include media-breakpoint-down(sm){
      padding-bottom: 0;
      margin-bottom: 50px;
    }

    &:last-of-type {
      margin-bottom: 0 !important;
    }

    .container {
      position: relative;
      z-index: 5;
    }

    &::before {
      content: "";
      height: 100%;
      min-height: 100%;
      width: 100%;
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;
      background-color: #FFF;
    }

    &::after {
      content: "";
      height: 20px;
      width: 100%;
      position: absolute;
      bottom: 0;
      top: auto;
      left: 0;
      right: 0;
      background-color: #000;
      z-index: 1;
      display: block;
      box-shadow: 0 2px 16px rgba(#ccc,.9);
    }
  }
}


/* FX Icons
------------------------------------------------------------*/
.investment-content-wrap {
  .inner-section-5 {

    .col-item {
      @include media-breakpoint-down(sm){
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 2rem;
        text-align: center;
      }
    }

    .item-wrap {
      position: relative;
      top: -1rem;
      display: flex;
      width: 100%;
      justify-content: center;

      .item {
        width: 100%;
        //transform: translateY(20%);
      }
    }

    .numscroller {
      width: 100%;
    }

    img {
      transition: all 1.4s ease;
      height: 76px;
      width: auto;
    }

    h5 {
      font-weight: 700;
    }

    .wrap-desc {
      font-size: $size_p;
    }
  }
}

.inner-section-5 {
  &.on-viewport {

    &.element-visible {
      .item {
        transform: translateY(0);
      }

      .item-1 {
        transition-delay: .2s;
      }

      .item-2 {
        transition-delay: .4s;

      }

      .item-3 {
        transition-delay: .6s;

      }

      .item-4 {
        transition-delay: .8s;

      }
    }
  }
}
