.picture-card-section {
  max-width: 1540px;
  margin: 0 auto;
}

/* Layout
-------------------------------------------------*/
.picture-card-content-wrap {
  display: flex;

  @include media-breakpoint-down(md){
    padding: 2rem 15px;
    max-width: 720px;
    margin: 0 auto;
  }

  @include media-breakpoint-down(sm){
    max-width: 540px;
  }

  @include media-breakpoint-down(xs){
    max-width: 540px;
  }

  .title {
    color: $primary;
    @include section_title(2rem);
  }

  .content,
  .read-more-content {
    margin-bottom: 2rem;

    @include media-breakpoint-down(sm){
      margin-bottom: 1rem;
    }
  }

  .read-more {
    margin-bottom: 1.5rem;

    @include media-breakpoint-down(sm){
      margin-bottom: 1rem;
    }
  }

  .picture-card-content-inner {
    overflow: auto;
  }
}

.picture-card-img-wrap {
  img {
    max-width: 100%;
    height: auto;
    display: block;

    @include media-breakpoint-down(md){
      max-width: 690px;
      margin: 0 auto;
    }

    @include media-breakpoint-down(sm){
      max-width: 430px;
    }
  }
}

.picture-card-content-wrap {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    height: 15px;
    width: 100%;
    box-shadow: 0 -10px 6px rgba(#FFF,.9);
    background-color: rgba(#FFF,.9);
  }
}

/* Grid
-------------------------------------------------*/
/* Large Devices, Wide Screens */
@media only screen and (min-width : 992px) {
  .picture-card {
    position: relative;
    display: flex;
    flex-direction: row;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 992px) {
  .picture-card-img-wrap {
    display: inline-block;
    img {
      //object-fit: cover;
      //object-position: top center;
      //height: 100%;
    }
  }

  .picture-card {
    &.width-30-70 {
      .picture-card-img-wrap {
        width: 80%;
      }
    }
  }

  .picture-card {
    &.width-70-30 {
      .picture-card-img-wrap {
        width: 60%;
      }
    }
  }
}


@media only screen and (min-width : 992px) {
  .picture-card-content-wrap {
    display: flex;
    width: 100%;
    max-height: 100%;
    padding-bottom: 0;
    margin-top: 0;
    .picture-card-content-inner {
      display: block;
      position: relative;
      max-height: 620px;
      width: 100%;
      padding: 6% 24% 3% 6%;
    }
  }

  //30 70
  .picture-card {
    &.width-30-70 {
      .picture-card-content-wrap {
        .picture-card-content-inner {
          width: 100%;
        }
      }
    }

    //70 30
    &.width-70-30 {
      .picture-card-content-wrap {
        .picture-card-content-inner {
          width: 100%;
        }
      }
    }
  }
}


@include media-breakpoint-down(lg){
  .picture-card-content-wrap {
    .picture-card-content-inner {
      max-height: 420px;
      padding: 3% 6% 6% 0;
    }
  }
}



.on-viewport {
  .a1 {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 1s ease;
  }

  .a2 {
    opacity: 0;
    transform: translateY(-100px);
    transition: all 1s ease;
  }

  .a3 {
    opacity: 0;
    transform: translateY(-100px);
    transition: all 1s ease;
  }

  .a4 {
    opacity: 0;
    transform: translateY(-100px);
    transition: all 1s ease;
  }
}

.on-viewport {
  &.element-visible {
    .a1 {
      opacity: 1;
      transform: translateX(0);
      transition-delay: .4s;
    }

    .a2 {
      opacity: 1;
      transform: translateY(0);
      transition-delay: .8s;
    }

    .a3 {
      opacity: 1;
      transform: translateY(0);
      transition-delay: 1s;
    }

    .a4 {
      opacity: 1;
      transform: translateY(0);
      transition-delay: 1.6s;
    }
  }
}
