/*  Preloader
----------------------------------------------------------------------*/
.css-loader,
.css-loader:after {
  border-radius: 50%;
  width: 4em;
  height: 4em;
}

.css-loader {
  display: block;
  margin-left:auto;
  margin-right:auto;
  font-size: 10px;
  text-indent: -9999em;
  border-top: 0.5em solid rgba($primary, 0.4);
  border-right: 0.5em solid rgba($primary, 0.4);
  border-bottom: 0.5em solid rgba($primary, 0.4);
  border-left: 0.5em solid $primary;
  transform: translateZ(0);
  animation: cssSpinner 1.1s infinite linear;

  &.white {
    border-top: 0.5em solid rgba(#FFF, 0.4);
    border-right: 0.5em solid rgba(#FFF, 0.4);
    border-bottom: 0.5em solid rgba(#FFF, 0.4);
    border-left: 0.5em solid #FFF;
  }

  &.small {
    border-width:0.4em;
    width: 2em;
    height: 2em;

    &:after {
      width: 2em;
      height: 2em;
    }
  }
}

@keyframes cssSpinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
