/* open-sans-300 - greek_latin_greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('#{$path-fonts}/open-sans-v17-greek_latin_greek-ext-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('#{$path-fonts}/open-sans-v17-greek_latin_greek-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$path-fonts}/open-sans-v17-greek_latin_greek-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$path-fonts}/open-sans-v17-greek_latin_greek-ext-300.woff') format('woff'), /* Modern Browsers */
       url('#{$path-fonts}/open-sans-v17-greek_latin_greek-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$path-fonts}/open-sans-v17-greek_latin_greek-ext-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - greek_latin_greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('#{$path-fonts}/open-sans-v17-greek_latin_greek-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('#{$path-fonts}/open-sans-v17-greek_latin_greek-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$path-fonts}/open-sans-v17-greek_latin_greek-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$path-fonts}/open-sans-v17-greek_latin_greek-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('#{$path-fonts}/open-sans-v17-greek_latin_greek-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$path-fonts}/open-sans-v17-greek_latin_greek-ext-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-600 - greek_latin_greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('#{$path-fonts}/open-sans-v17-greek_latin_greek-ext-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('#{$path-fonts}/open-sans-v17-greek_latin_greek-ext-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$path-fonts}/open-sans-v17-greek_latin_greek-ext-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$path-fonts}/open-sans-v17-greek_latin_greek-ext-600.woff') format('woff'), /* Modern Browsers */
       url('#{$path-fonts}/open-sans-v17-greek_latin_greek-ext-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$path-fonts}/open-sans-v17-greek_latin_greek-ext-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700 - greek_latin_greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('#{$path-fonts}/open-sans-v17-greek_latin_greek-ext-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('#{$path-fonts}/open-sans-v17-greek_latin_greek-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$path-fonts}/open-sans-v17-greek_latin_greek-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$path-fonts}/open-sans-v17-greek_latin_greek-ext-700.woff') format('woff'), /* Modern Browsers */
       url('#{$path-fonts}/open-sans-v17-greek_latin_greek-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$path-fonts}/open-sans-v17-greek_latin_greek-ext-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
