/* Buttons
------------------------------------------------*/
.btn-primary,
.btn,
.button,
button {
  border: none;
  font-weight: 400;
  background-color: $primary;
  color: #FFF;
  border-radius: 0;
  padding: .5rem 1rem;
  transition: all 360ms ease;
  opacity: 1;
  display: inline-block;
  transform: translateY(0);
  font-weight: 300;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  line-height: 1.4;

  .text {
    display: inline-block;
    position: relative;

    &::after {
      transition: all 360ms ease;
      position: absolute;
      color: #FFF;
      display: inline-block;
      transform: translateX(0);
      @extend .fa;
    }
  }

  //Text align
  &.text-left {
    text-align: left;
  }

  &.text-right {
    text-align: right;
  }

  //Size
  &.medium {
    padding: .6rem 4rem;
    font-size: $size_h5;

    @include media-breakpoint-down(md){
      font-size: $size_h5;
      padding: .5rem 3rem;
    }
  }

  &.large {
    padding: 1.2rem 5rem;
    font-size: $size_h5;

    @include media-breakpoint-down(md){
      font-size: 15px;
      padding: 1.2rem 4.6rem 1.2rem;
    }
  }


  //Colors
  &.primary {
    background-color: $primary;
  }

  &.yellow {
    background-color: $primary_yellow;
  }

  &.orange {
    background-color: $primary_orange;
  }


  //:Active
  &:active {
    transform: translateY(2px);
  }

  //:Hover
  &:hover {
    color: #FFF;
    opacity: 1;
  }

  &:focus,
  &.focus {
    outline: none;
    box-shadow: none !important;
  }
}
