/* Forms
------------------------------------------------*/
input {
  border-radius: 3px;
  border: 1px solid $border_grey;
}

input[type="text"],
input[type="email"],
input[type="phone"],
input[type="tel"],
input[type="password"],
input[type="date"],
input[type="url"],
input[type="search"],
textarea {
  border: 1px solid $border_grey;
  padding: .6rem;
  display: block;
  box-sizing: border-box;
  outline: none;
  appearance: none;
  transition: all 1s ease;
  color: #000;
  background-color: #FFF;

  &:focus {
    background-color: #FFF;
    border: 1px solid #000;
    box-shadow: none;
  }
}
