/* Link modal - Modal
------------------------------------------------------*/
.modal-init {
  &.fa {
    color: #000;
    font-size: 30px;
    display: inline-block;
  }

  &.icon {
    width: 28px;
    height: 28px;
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  &:hover {
    color: #000;
  }
}


/* Alert modal - Modal
------------------------------------------------------*/
.modal {
	background-color: rgba(#000, .7);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
  padding: 1rem;
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	opacity: 0;
	transform: translateY(-102%);
	transition: all 420ms ease;
  text-align: left;

	.modal-wrap {
		background-color: #FFF;
		padding: 0 3rem;
		border-radius: 10px;
		position: relative;
		max-width: 600px;
		width: 100%;
		overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;

    @include media-breakpoint-down(sm) {
      padding: 0 2rem;
    }

    @include media-breakpoint-down(xs) {
      padding: 0 1rem;
    }

    article {
      width: 100%;
      text-align: center;
      font-size: $size_p;
      padding: 3rem 0;

      p:last-of-type {
        margin-bottom: 0;
      }

      a {
        color: $primary;
      }
    }

		.close-modal {
			position: absolute;
			top: 10px;
			right: 10px;
			color: #000;
			font-size: 22px;
      padding: 6px;
      display: inline-block;

			&:hover {
				text-decoration: none;
			}
		}
	}

	&.active {
		opacity: 1;
		z-index: 9999;
		transform: translateY(0);
	}
}
