
/* Preloader - Moved to header
--------------------------------------------------------*/
#lamda-preloader {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 800ms ease;
  opacity: 1;
  background-color: rgba(#FFF,.98);
  transform: translateY(0);

  .logo-loader-wrap {
    width: 130px;
    height: 130px;
    display: block;
    position: relative;
  }

  .logo-lamda {
    width: 100%;
    height: 70px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: auto;
    z-index: 2;
    background-color: transparent;
    background-size: 102px auto;
    background-position: 50% 0;
    background-repeat: no-repeat;
    transition: all 1s ease;
    background-image: url('../images/lamda-top.svg');
    opacity: 0;
    transform: translateY(-60px);
  }

  .logo-bottom {
    width: 100%;
    height: 55px;
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    bottom: 0;
    z-index: 2;
    background-color: transparent;
    background-size: 124px auto;
    background-position: 50% 0;
    background-repeat: no-repeat;
    transition: all 1s ease;
    background-image: url('../images/lamda-title.svg');
    opacity: 0;
    transform: translateY(60px);
  }

  .square-1,
  .square-2 {
    background-color: #D0021B;
    width: 21px;
    height: 21px;
    display: block;
    position: absolute;
    top: 39px;
    left: 54px;
    transition: opacity 540ms ease;
  }

  .square-1 {
    z-index: 4;
    opacity: 1;
    animation: squareLoader 2.2s linear 0s infinite alternate both;
  }

  .square-2 {
    transform: rotate(45deg);
    z-index: 5;
    opacity: 0;
  }

  .text {
    color: #033769;
    font-weight: 700;
    width: 100%;
    text-align: center;
    font-size: 14px;
    display: block;
    position: absolute;
    bottom: 30%;
    left: 0;
    z-index: 1;
    transition: all 420ms ease;
    transform: translateY(0);
  }
}


//Body class for active preloader
body {
  &.site-loaded {
    #lamda-preloader {
      transition-delay: 1.6s;
      transform: translateY(-101%);

      .logo-lamda,
      .logo-bottom {
        opacity: 1;
        transform: translateY(0);
      }

      .square-1 {
        opacity: 0;
      }

      .square-2 {
        opacity: 1;
      }

      .text {
        opacity: 0;
      }
    }
  }
}



@keyframes squareLoader {
  0% {
    transform: rotate(45deg);
  }

  20% {
    transform: rotate(135deg);
  }

  40% {
    transform: rotate(315deg);
  }

  60% {
    transform: rotate(315deg);
  }

  80% {
    transform: rotate(135deg);
  }

  100% {
    transform: rotate(45deg);
  }
}
