.text-color-primary {
  color: $primary;
}

.text-color-red {
  color: $primary_red;
}

.text-color-blue {
  color: $primary;
}

.text-color-blue-light {
  color: $primary_blue_light;
}

.text-large {
  font-size: 20px;

  @include media-breakpoint-down(sm){
    font-size: 18px;
  }
}

.text-larger {
  font-size: 24px;

  @include media-breakpoint-down(sm){
    font-size: 20px;
  }
}
